// colors

$light-blue: #e3f4f7; // blue light03A9F4
$primary-blue: #b8e3ec; // 
$green: #8eb16b;
$orange: #faaa4c;
$red: #dc6740;
$white: #FFFFFF;
$font-color: #3e3e3f;

$border-color: #ddd;
// fonts 

$primary-font: Avenir Next;
$primary-font-color: black;
$muted: #757575;
$primary-font-weight: 400;
$demi-bold-font-weight: 500;
$bold-font-weight: 600;

$nav-height: 50px;
/*$modular-scale-ratio: $golden;*/

// panel size

$panel-width-S: 90%;
$panel-width-M: 60%;
$panel-width-L: 40%;
$panel-width-XL: 40%;

$padding-L: 30px;
$padding-M: 15px;
$padding-S: 8px;

$footer-height: 50px;

$success: #4caf50;
$danger: #f44336;
$warning: #f4511e;

