<template name="sectionSidePanel">

  <!-- Side Panel slides in with sections if there are any in the lesson -->

  <div class="cd-panel from-right" id="panel{{nh_id}}">
    <header class="cd-panel-header">
      <span class="title">{{title}}</span>
      <a href="#0" class="cd-panel-close">Close</a>
    </header>

    <div class="cd-panel-container">
      <div class="cd-panel-content">
          {{#each sections}}
            <div class="divider"></div>
            <div class="section">
              {{ >sectionThumbnail}}
            </div>
          {{/each}}
          
      </div>
    </div>
  </div>
</template>
