<template name="nextBtn">
  {{#if isPhone}}
    {{>phoneNextBtn}}
  {{else}}
    {{>browserNextBtn}}
  {{/if}}
</template>

<template name="phoneNextBtn">
  <a id="next" class=" z-depth-2 waves-effect waves-light next-btn-tile valign {{#if isHidden}} slide-down {{/if}}"> 
    <i class="icon ion-arrow-right-a icon-large"></i>
  </a>
</template>

<template name="browserNextBtn">
  <div class="col valign-wrapper right-align">
    <a class="next-module-btn footer-button center-align blue rounded blue-text text-lighten-3 flow-text btn-flat waves-effect waves-light {{#if isHidden}} slide-down {{/if}} large valign-wrapper " id="next" >
      {{#if allModulesComplete}}
        FINISH
      {{else}}
        NEXT
      {{/if}}
      <i class="icon ion-arrow-right-a icon-large"></i>
    </a>
  </div>
</template>

