<template name="moduleFooter">

  {{>goHomeButton}}
    <!--<a class="waves-effect" name="previous" style="display:inline"><i class="mdi-navigation-chevron-left small"></i></a>-->
  <a href="#" class=""> 
    <div class="dotstyle dotstyle-scaleup"> 
      <ul class="">
        {{#each modules}}
          {{#if currentModule}} 
          <li class="current" name="{{i}}"><a name="{{i}}">{{index}}</a></li>
          {{else}}
          <li name="{{i}}"><a class="module_footer {{#if completed i}} green {{/if}}" name="{{i}}">{{index}}</a></li>
          {{/if}}
        {{/each}}
            
      </ul>
    </div>
    </a>
    <!--<a class="waves-effect" name="next" style="display:inline"><i class="mdi-navigation-chevron-right small"></i></a>-->

  {{>replayButton}}
  {{>nextBtn}}
</template>
