<template name='moduleLayout'>

  {{#contentWrapper}}
      <div data-page="index" class="page navbar-fixed toolbar-fixed">

        <!-- Top Navbar-->
        <div class="navbar">
          <div class="navbar-inner">
            <a id="logo"><img class="logo" alt="Noora Health" src="/NHlogo.png"/></a>
              <span class="right-aligned">{{lessonTitle}}</span>
          </div>
        </div>


        <div class="page-content">
          <div class=" {{#if contentBlurred}} blur {{/if}} content-block inner-container">
           <div id="{{_id}}" class="card module-card">
              {{#momentum plugin='left-to-right'}}
                {{> Template.dynamic template=main data=module}}
              {{/momentum}}
            </div>
          </div>
        </div>

        <div class="toolbar">
          <div class="toolbar-inner">
            {{> Template.dynamic template=footer}}
          </div>
        </div>
      </div>
   {{/contentWrapper}}

  </template>
