<template name="layout">
 <div class="views">
    <div class="view view-main">
      <div class="pages">
        <!-- Now we need additional "navbar-fixed" and "toolbar-fixed" classes on Page -->
        <div data-page="index" class="page navbar-fixed toolbar-fixed">
            
          <!-- Top Navbar-->
          <div class="navbar">
            <div class="navbar-inner">
              <a href="{{pathFor 'home'}}"><img class="logo" alt="Noora Health" src="/NHlogo.png"/></a>
              <a href="#" data-panel="right" class="open-panel right-aligned">Select Curriculum</a>
            </div>
          </div>

          <div class="page-content">
            {{>yield}}
          </div>

          {{#if module}}
            <div class="toolbar">
              <div class="toolbar-inner">
                {{>yield region="footer"}}
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>

