<template name='moduleLayout'>

  {{#contentWrapper}}
      <div data-page="index" class="page navbar-fixed toolbar-fixed">

        <!-- Top Navbar-->
        <div class="navbar">
          <div class="navbar-inner">
            <a id="logo"><img class="logo" alt="Noora Health" src="/NHlogo.png"/></a>
              <span class="right-aligned">{{lessonTitle}}</span>
          </div>
        </div>


        <div class="page-content">
            <div class="panel-overlay"></div>
            <!--{{#if subscriptionsReady}}-->
            <!-- Left panel, let it be with reveal effect -->
            <div class="panel panel-cover panel-right">
              {{>sideMenu}}
            </div>

            {{> Template.dynamic template=main}}
        </div>

        <div class="toolbar">
          <div class="toolbar-inner">
            {{> Template.dynamic template=footer}}
          </div>
        </div>
      </div>
   {{/contentWrapper}}

  </template>
