
<template name="Level_thumbnail">
  <div class="lesson-card card color-blue-noora {{#if isCurrentLevel}} current-lesson {{else}} faded {{/if}}">
    <div class="card-content">
      <div class="card-header">
        <p class="center large-text bold-text">{{translate level.name language "UPPER"}}</p>
      </div>

      <div class="lesson-card-image card-header">
        <div class="overlay-wrapper thumbnail-image"> 
          <img src="{{getSrc level.image "IMAGE"}}" class='lazy'/>
        </div> 
      </div>

      <div class="card-footer">
        <a class="center select-level-button bold-text large-text {{#if isCurrentLevel}} animate-scale {{/if}} button button-round "> {{translate "begin" language "UPPER"}} </a>
      </div>
    </div>
  </div>
</template>
