
<template name="Home_thumbnail">
  <div class="lesson-card card {{#if isCurrentLevel}} current-lesson {{else}} faded {{/if}}">
    <div class="card-content">

      <div class="lesson-card-image card-header">
        <div class="overlay-wrapper thumbnail-image"> 
          {{#if isCurrentLevel}}
            <div class="inner-overlay-wrapper">
              <img src="/play-button-overlay2.png" class="animate-scale animated-overlay"/>
            </div>
          {{/if}}

          <img src="{{getSrc level.image "IMAGE"}}" class='lazy'/>
        </div> 
      </div>

      <div class="card-footer js-scroll-into-view">
        <p class="center large-text">{{level.name}}</p>
      </div>

    </div>
  </div>
</template>
