
<template name="Home_thumbnail">
  <div class="lesson-card card {{#if currentLesson lesson}} current-lesson {{else}} faded {{/if}}">
    <div class="card-content">

      <div class="lesson-card-image card-header">
        <div class="overlay-wrapper thumbnail-image"> 
          {{#if isCurrentLesson}}
            <div class="inner-overlay-wrapper">
              <img src="/play-button-overlay2.png" class="animate-scale animated-overlay"/>
            </div>
          {{/if}}

          <img src="{{lesson.imgSrc}}" class='lazy'/>
        </div> 
      </div>

      <div class="card-footer js-lesson-thumbnail">
        <p class="center large-text">{{lesson.title}}</p>
      </div>

    </div>
  </div>
</template>
