<template name="home">
  <div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'.uk-panel'}">
    <div class="uk-width-1-1">
      <ul id="chapter_options" class="uk-switcher">
        <li class="uk-active">
          <div class="uk-grid" data-uk-grid-margin>
            {{#each lessons}}
              {{> chapter}}
            {{/each}}  
          </div>
        </li>

      </ul>
    </div>
  </div>
</template>

<template name="chapter">
  <div class="uk-width-medium-1-3 uk-border-rounded chapter" >

      <div class=" uk-thumbnail uk-thumbnail-medium uk-border-rounded">

        <a href="{{ pathFor 'section' nh_id=this.nh_id }}" class= "uk-overlay" >
          <img class="nh-chapter-img" src="{{getImgSrc}}" alt="{{short_title}}"/>
          <div class="uk-overlay-area" id="success_overlay_{{nh_id}}">
            <div class="uk-overlay-area-content">
              <img src="{{overlaySource}}" alt="" class="nh_icon">
              <div id="overlay_caption" class="uk-overlay-caption">
                <span id="overlay_caption_{{nh_id}}"></span> 
              </div>
            </div>
          </div>
        </a>

        <div class="progress sublesson">
          <div class="progress-bar progress-bar-success" style="width: {{percentComplete}}%">
            <span class="sr-only">{{percentComplete}}% completed</span>
          </div>
          <div class="progress-bar progress-bar-danger" style="width: {{percentIncorrect}}%">
            <span class="sr-only">{{percentIncorrect}}% incorrect</span>
        </div>
      </div>

        <div class="uk-thumbnail-caption ">{{short_title}}</div>
      </div>
  </div>
  </template>