<template name="layout">

{{#famousContext id="mainCtx"}}
  {{#HeaderFooterLayout size="[undefined, undefined]" headerSize="50" footerSize="45"}}
    {{#Surface target="header" class="red" }}
      {{>nav}}
    {{/Surface}}

    {{#RenderController target="content" transition=getTransition id="renderController"}}
      {{>yield}}
    {{/RenderController}}
    
    {{#Surface target="footer" class="white"}}
      {{>yield region="footer"}}
    {{/Surface}}

  {{/HeaderFooterLayout}}
{{/famousContext}}
</template>
