
<!--* *********************ALL LESSONS TEMPLATE ******************************** -->

<template name="lessons">
  {{>backToHomeArrow}}

  <div class="uk-grid" name="chapter_div">
    <input type="hidden" id="chapter_id" value="{{nh_id}}">

    <div class="uk-width-medium-1-2">
    <ul class="uk-tab uk-tab-left uk-margin" data-uk-tab="{connect:'#sublessonList'}">
    {{#each lessons}}
      <li>  
        <div class="uk-panel section uk-margin uk-border-rounded" name="lesson_panel" id ="lesson_panel_{{nh_id}}" style="opacity:{{opacity}}"> 
            {{>lesson}} 
          </div>
        </li>
    {{/each}}
    </ul>
  </div>

  <div class="uk-width-medium-1-2" style="margin-top: 20px">
    <ul id="sublessonList" class="uk-switcher uk-margin">
      {{#each lessons}}
        <li> {{>sublessonList}}</li>
      {{/each}}
    </ul>
  </div>  
  </div>
</template>

<!--* ********************* BACK TO HOME TEMPLATE ****************************** -->

<template name="backToHomeArrow">
  <a href="{{ pathFor 'home'}}" name="continue_buttons" id="back_to_chapter"><i class="uk-icon-arrow-left uk-icon-large inline"></i> Return to all chapters</a>
</template>

<!--* *********************LESSON TEMPLATE ********************************** -->

<template name="lesson">
  <div class="uk-grid uk-border-rounded" id="one{{nh_id}}" >
    <div class="uk-width-1-3" id="two{{nh_id}}" >

      
      <div class="uk-thumbnail uk-overlay uk-border-rounded nh-small " id="three{{nh_id}}">

        <img src="{{getImgSrc}}" class="nh-small " alt="Lesson:{{title}}" id="four{{nh_id}}"/>

      </div>
    </div>


    <div class="uk-width-2-3" id="six{{nh_id}}">
      <div class="uk-panel" id="seven{{nh_id}}">

            <div class="uk-panel-title" id="eight{{nh_id}}">{{title}}</div>
 
        {{description}}

          <div class="progress" id="nine{{nh_id}}">
            <div class="progress-bar progress-bar-success" id="ten{{nh_id}}" style="width: {{percentComplete}}%">
              <span class="sr-only" id="eleven{{nh_id}}">{{percentComplete}}% completed</span>
            </div>
            <div class="progress-bar progress-bar-danger" id="twelve{{nh_id}}" style="width: {{percentIncorrect}}%">
              <span class="sr-only" id="thirteen{{nh_id}}">{{percentIncorrect}}% incorrect</span>
            </div>
        </div>
    </div>
  </div>
</div>
</template>

<!--* *********************SUBLESSON TEMPLATE ********************************** -->

<template name="sublessonList">
  <!--- TITLE -->
   <div class="uk-panel-title uk-text-bold uk-text-large text-white sectiontext">{{title}}
   </div>
   
   <hr>      
  
  <div id="sublessons_{{nh_id}}" class=" uk-grid uk-container" name="section_div" data-uk-grid-margin>
  <input type="hidden" value="{{nh_id}}" id="section_id"/>
  
  {{#if hasSublessons}}
     
      {{#each getLessons}}
      <div class="uk-width-medium-1-2 uk-border-rounded uk-animation-slide-left" >
        <div class="uk-thumbnail uk-thumbnail-small uk-border-rounded lesson" name="lesson_div" id="lesson">

          <a href="" id="{{nh_id}}" name="startLesson" style="display:block" class= "uk-overlay">
            <input type="hidden" id="lesson_id" value="{{nh_id}}">
            <img src="{{getImgSrc}}" class="uk-border-rounded nh_mini"/> 

            <!-- Overlay -->
            <div class="uk-overlay-area" id="success_overlay_{{nh_id}}">
              <div class="uk-overlay-area-content">
                <img src="{{overlaySource}}" alt="" class="nh_icon">
                <div id="overlay_caption" class="uk-overlay-caption">
                  <span id="overlay_caption_{{nh_id}}"></span> 
                </div>
              </div>
            </div>
            
            <!-- Caption -->
            <div class="uk-thumbnail-caption">
              <span class="uk-text-truncate uk-text-small uk-text-bold">{{title}} </span>
            </div>

            <!-- Progress Bar -->
            <div class="progress" style="height:10px">
              <div class="progress-bar progress-bar-success" style="width: {{percentComplete}}%">
                <span class="sr-only">{{percentComplete}}% completed</span>
              </div>
              <div class="progress-bar progress-bar-danger" style="width: {{percentWrong}}%">
                <span class="sr-only">{{percentWrong}}% incorrect</span>
             </div>
            </div>

            
            <!--<i class="uk-icon-large uk-float-right {{getIcon}}" id="icon_{{nh_id}}"></i>-->
          </a>
        </div>  
      </div>   
    {{/each}}

  {{else}}
     
      <div class="uk-width-medium-1-2 uk-border-rounded uk-animation-slide-left" >
        <div class="uk-thumbnail uk-thumbnail-small uk-border-rounded lesson" name="lesson_div">
          <a href="" id="{{nh_id}}" name="startLesson" style="display:block" class= "uk-overlay">
            <input type="hidden" id="lesson_id" value="{{nh_id}}">
            <img src="{{getImgSrc}}" class="uk-border-rounded nh_mini"/>     
            
            <!-- Overlay -->
            <div class="uk-overlay-area" id="success_overlay_{{nh_id}}">
              <div class="uk-overlay-area-content">
                <img src="{{overlaySource}}" alt="" class="nh_icon">
                <div id="overlay_caption" class="uk-overlay-caption">
                  <span id="overlay_caption_{{nh_id}}"></span> 
                </div>
              </div>
            </div>

            <!-- Caption -->
            <div class="uk-thumbnail-caption">
                <span class="uk-text-truncate uk-text-small uk-text-bold">{{moduleTitle}} </span>
            </div>

            <!-- Progress Bar -->
            <div class="progress"  style="height:10px">
              <div class="progress-bar progress-bar-success" style="width: {{percentComplete}}%">
                <span class="sr-only">{{percentComplete}}% completed</span>
              </div>
              <div class="progress-bar progress-bar-danger" style="width: {{percentWrong}}%">
                <span class="sr-only">{{percentWrong}}% incorrect</span>
             </div>
            </div>

            <!--<i class="uk-icon-large uk-float-right {{getIcon}}" id="icon_{{nh_id}}"></i>-->
          </a>
        </div>  
      </div>   
      
  {{/if}}
  </div>
</template>
