<template name="login">
<div class="uk-grid uk-container">
  <div class="uk-width1-2 uk-container-center uk-margin-top">
    <form class="form-horizontal" id="login-form" action="action" role="form">
      <fieldset>

      <!-- Form Name -->
      <legend>Login</legend>

      <p class="uk-text-bold"><em>You may login using either your patient ID or your username</em></p>

      <!-- Text input-->  
      <div class="uk-margin-left">
        <div class="control-group">
          <input id="login_username" name="login_username" placeholder="username OR patient ID" class="input-xlarge" type="text">
        </div>

        <!-- Password input-->
        <div class="control-group">
          <input id="login_password" name="password" placeholder="password" class="input-xlarge" type="password">
        </div>

        <!-- Button -->
        <div class="control-group ">
          <button id="login-button" name="login" class="btn btn-primary">Login</button>
          <a href="{{pathFor 'register'}}" name="register" class="btn btn-default">Register</a> <span>First time here? Click to register</span>
        </div>
      </div>

      </fieldset>
    </form>
  </div>
</div>
</template>