<head>
  <title> Noora Health</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
{{#famousContext id="context"}}
  {{#HeaderFooterLayout size="[undefined, undefined]" headerSize="50" footerSize="45"}}
    {{#Surface target="header" class="red"}}
      HEADER
    {{/Surface}}

    {{#Surface target="content" class="green"}}
      CONTENT
    {{/Surface}}
    
    {{#Surface target="footer" class="blue"}}
      FOOTER
    {{/Surface}}

  {{/HeaderFooterLayout}}
{{/famousContext}}
</body>

