<template name='module'>
  {{#with module}}
    {{>continuebuttons}}
    <hr>
  <div class="uk-grid uk-container uk-clearfix" >
    <div class="uk-width-1-4 section uk-panel-title uk-panel uk-border-rounded" style="height:inherit"> 
      <div>
        <div class="uk-float-left" data-uk-tooltip title="The progress bar tracks your progress toward completing the section '<em>{{sectionTitle}}</em>'">
          <p class="uk-text-large uk-text-bold uk-margin uk-float-left">{{sectionTitle}}</p>
          <p class="uk-text-bold uk-text-medium uk-margin uk-text-muted">{{lessonTitle}}</p>

          <div class="progress" >
            <div class="progress-bar progress-bar-success" style="width: {{percentComplete}}%">
              <span class="sr-only">{{percentComplete}}% completed</span>
            </div>
            <div class="progress-bar progress-bar-danger" style="width: {{percentIncorrect}}%">
              <span class="sr-only">{{percentIncorrect}}% incorrect</span>
            </div>
          </div>

        </div> 
      </div>
    </div>

    <div class="uk-width-3-4 ">
      {{#if answer}}
        {{>answer}}
      {{else}}
        <audio src="{{getAudioSrc}}" id="audio" autoplay>
        Your browser does not support the video tag. Please logout and use another browser.</audio>  

        {{#if isVideo}}
          {{>video}}{{/if}}
        {{#if isMultipleChoice}} 
          {{>multiple_choice}}{{/if}}
        {{#if isGoalChoice}} 
          {{>multiple_choice}}{{/if}}
        {{#if isScenario}} 
          {{>scenario}}{{/if}}
        {{#if isBinary}} 
          {{>binary}}{{/if}}
        {{#if isSlide}} 
          {{>slide}}{{/if}}
      {{/if}}
    </div>
  </div>
  {{/with}}
</template>

<template name="multiple_choice">

  <form class="uk-form uk-form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <p class="uk-text-large uk-float-center uk-margin uk-text-bold uk-float-left">{{question}}</p>
    
    <div class="uk-form-row">            
        <button href="" id="mc_submit" type="submit" class="uk-button uk-button-primary uk-button-large uk-float-right">Submit</button>              
    </div>
    <!-- Multiple Checkboxes -->      
      {{#each getOptions}}
      <div class="uk-form-row uk-container uk-clearfix">
        <div class="uk-container checkbox_item uk-float-left">
          <i class="uk-icon-large uk-margin-right" name="checkbox_icon"></i><input id="option-{{columnOne}}" type="checkbox" name="option" value="{{columnOne}}">  <span class="uk-form-help-inline"><img style="width:225px;height:200px" src="{{getMCImgColOne}}"/></span>
         </div>
        {{#if columnTwo}}
        <div class=" checkbox_item uk-float-right">
          <i class="uk-icon-large uk-margin-right" name="checkbox_icon"></i><input id="option-{{columnTwo}}" type="checkbox" name="option" value="{{columnTwo}}">  <span class="uk-form-help-inline"><img style="width:225px;height:200px" src="{{getMCImgColTwo}}"/></span>
        </div>
         {{/if}}

         </div>
      {{/each}}
     

  </fieldset>
</form>
</template>

<template name="scenario">
  <p class="uk-text-large uk-float-center uk-margin uk-text-bold">{{question}}</p>

  <div class="uk-width-medium-2-3 uk-container-center uk-clearfix uk-vertical-align uk-margin-large">
    <div class="uk-float-left uk-vertical-align-center">
      <form class="uk-form uk-form-stacked">

        <fieldset>
        <!-- Button (Triple) -->
        <div class="uk-form-row">
          <button name="answer_button" value="{{option 0 }}" class="uk-button uk-button-success uk-button-large scenario_response"
               data-uk-modal="{target:'#answer',bgclose:false}">{{option 0}}<img src="{{normalIcon}}" class="nh_icon" value="{{option 0}}"/></button>
        </div>

        <div class="uk-form-row">
          <button name="answer_button" value="{{option 1}}" class="uk-button uk-button-warning uk-button-large scenario_response" data-uk-modal="{target:'#answer',bgclose:false}">{{option 1}}<img src="{{middleIcon}}" class="nh_icon"/></button>
        </div>
        
        <div class="uk-form-row">
          <button name="answer_button" value="{{option 2 }}" class="uk-button uk-button-danger uk-button-large scenario_response" data-uk-modal="{target:'#answer',bgclose:false}">{{option 2}}<img src="{{emergencyIcon}}" class="nh_icon"/></button>
        </div>

        </fieldset>
      </form>

</div>
  <div class="uk-vertical-align-center uk-float-right nh-large">
    <img src="{{getImgSrc}}"/>
  </div>
</div>

    {{>answer}}
</template>

<template name="binary">
<p class="uk-text-large uk-float-center uk-margin uk-text-bold">{{question}}</p>

<div class="uk-width-medium-2-3 uk-container-center uk-clearfix uk-vertical-align uk-margin-large">

  <div class="uk-float-left uk-vertical-align-center">
    <form class="uk-form uk-form-stacked">
      <fieldset>
      <!-- Button (Triple) -->
      <div class="uk-form-row">
        <button name="answer_button" value="{{option 0 }}" class="uk-button uk-button-success uk-button-large uk-margin-small-bottom binary_response " data-uk-modal="{target:'#answer',bgclose:false}">{{option 0 }}</button>
      </div>

      <div class="uk-form-row">
        <button name="answer_button" value="{{option 1 }}" class=" uk-button uk-button-danger uk-button-large binary_response" data-uk-modal="{target:'#answer',bgclose:false}">{{option 1}}</button>
      </div>
      

      </fieldset>
    </form>
  </div>

  <div class="uk-vertical-align-center uk-float-right nh-large">
    <img src="{{getImgSrc}}"/>
  </div>

</div>

 
  {{>answer}} 

</template>

<template name="answer">
  <div id="answer" class="uk-modal">
      <div class="uk-modal-dialog uk-margin-large-top">
        <div class="uk-grid uk-clearfix" data-uk-grid-margin>

          <div class="uk-width-1-1 uk-container-center">
            
            <button id="answer_button_image" class="uk-margin-left">{{correct_answer}}</button>

            <div class="uk-float-right">
            {{>next}}
            </div>

            <img id="answer_image" src="{{getImgSrc}}" class="uk-margin-top nh-large"/>
          </div>
          <div class="uk-width-1-1">
            <p class="uk-text-large">{{explanation}}</p>
            <audio id="answer_audio" src="" autoplay></audio>
          </div>
          <div class="uk-width-1-1">
          </div>
        </div>
    </div>
  </div> 

</template>

<template name="slide">
  <p class="uk-text-large uk-float-center uk-margin">{{title}}</p>
  <img src="{{getImgSrc}}"  class="inherit"/>   
</template>

<template name="video">
  <p class="uk-text-large uk-text-left uk-margin uk-text-bold">{{title}}</p>
  <div class="uk-width-medium-1-1">

    <video src="{{getVideoSrc}}" class="inherit" controls autoplay>
    Your browser does not support the video tag. Please logout and use another browser.
    </video>  
  </div>
          
</template>

<template name="continuebuttons">

   <div class="uk-grid">
    <div class="uk-width-1-1 uk-margin-top uk-container-center">
    <li class="uk-pagination-previous">{{>backToChapter}}</li>
    <li class="uk-pagination-next">
        {{#unless isBinary}}
        {{#unless isScenario}}
          {{>next}}
        {{/unless}}
        {{/unless}}
    </li>
    </div>
    </div>

</template>

<template name="backToChapter">
  <a href="{{lessonPage}}"  name="continue_buttons" id="back_to_chapter"><i class="uk-icon-arrow-left uk-icon-large"></i> Return to Chapter</a>
</template>

<template name="next">
  {{#if isMultipleChoice}}
    <a href="{{ pathForNext }}" name="continue_buttons" id="next_link" style="display:none"><span id="next">{{text}}</span><i class="uk-icon-arrow-right uk-icon-large"></i></a>
  {{else}}
    <a href="{{ pathForNext }}" name="continue_buttons" id="next_link"><span id="next">{{text}} </span><i class="uk-icon-arrow-right uk-icon-large"></i></a>

    {{/if}}
</template>
