<template name="passwordrecovery">
    {{#if resetPassword}}
     <form id="new-password" action="action">
        <div>
           <input type="text" id="new-password-password" />
           <input type="submit" value="Change Password" />
        </div>
      </form>
  {{else}}
      <form class="form-horizontal" id="recovery-form" action="action" role="form">
      <fieldset>
      <!-- Form Name -->
      <legend>Reset your Password</legend>
      <p class="uk-text-bold"><em>After submitting this form, you must register again at the registration page using your same Patient ID</em></p>

      <!-- Text input-->
      <div class="control-group">
        <label class="control-label" for="login_username">Patient ID <u>OR</u> Username</label>
        <div class="controls">
          <input id="login_username" name="login_username" placeholder="" class="input-xlarge" type="text">
        </div>
      </div>

      <!-- Button -->
      <div class="control-group">
        <label class="control-label" for="submit-password-recovery"></label>
        <div class="controls">
          <button id="submit-password-recovery" type="submit" name="submit-password-recovery" class="btn btn-primary">Re-Register</button>
        </div>
      </div>

      </fieldset>
    </form>
  {{/if}}
</template>