<template name="title_bar">
  {{>nav}}
  <div >
    {{title}}
  </div>
</template>

<template name="nav">
  <nav class="navbar navbar-fixed-top navbar-inverse uk-vertical-align" role="navigation">
        <div class="container header">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a href="{{ pathFor 'home' }}" ><img src="{{logo}}" class ='img-responsive uk-vertical-align-middle'/> </a>
                    
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse pull-right">
                <ul class="nav navbar-nav">
                  {{#if currentUser}}
                    <li> <a href="{{ pathFor 'home' }}" class="uk-vertical-align-middle large-font"><img src="{{homeIcon}}"  class="nh_logo"/>Home</a>
                    </li>
                  
                    <li><a href="/logout" class="uk-vertical-align-middle large-font" id="logout"><img src="{{logoutArrow}}" class="nh_logo" />Logout</a>
                    </li>
                  {{/if}}

                  {{#if isRegistrationPage}}
                    <li><a href="/login" class="uk-vertical-align-middle large-font" id="logout"><img src="{{logoutArrow}}" class="nh_logo" />Return to Log In</a>
                    </li>
                  {{/if}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

</template>