<template name="selectCondition">
  {{#Surface  origin="[.5, .5]" align="[.5, .5]" size="[600, 700]" id="selectConditionSurface"}}
    <div class="row">
      <form action="#" id="selectCondition">
        <div class="row">
          <h4> Please select a curriculum</h4>
        </div>

        <div class="row" >
          <div class="input-field ">
            <div class="col l8 m8 s8 offset-s2 offset-l2 offset-m2">
              {{#each curriculums}}
              <p>
                <input id="{{title}}" class="with-gap" type="radio" name="curriculum">
                <label for="{{title}}"> {{title}}</label>
              </p>
              {{/each}}
            </div>
          </div>
        </div>

      </form>
    </div>
  {{/Surface}}
</template>
