<template name="nextBtn">
{{#if phone}}
  {{>phoneNextBtn}}
{{else}}
  {{>browserNextBtn}}
{{/if}}
</template>

<template name="phoneNextBtn">
<tile class="round-tile">
  <a id="{{id}}" class="{{commonClasses}} {{#if isHidden}} slide-down {{/if}}"> 
    <i class="mdi-navigation-arrow-forward medium"></i>
  </a>
</tile>
</template>

<template name="browserNextBtn">
<a class=" {{commonClasses}} next-module-btn center-align blue rounded blue-text text-lighten-3 flow-text btn-flat waves-effect waves-light {{#if isHidden}} slide-down {{/if}} large valign-wrapper " id="{{id}}" >
  {{#if allModulesComplete}}
    FINISH
  {{else}}
    NEXT
  {{/if}}
  <i class="mdi-navigation-arrow-forward medium"></i>
</a>
</template>

