<template name="Lesson_view_page_binary">

  <div class="card-header large-text center">
    {{module.question}}
  </div>

  <div class="card-content padding-sm">
    <img src="{{module.imgSrc}}" class="center binary-image">
  </div>

  <div class="card-footer large-text">
    <a class="js-user-selects response button button-fill button-big color-lightblue" value="Yes">YES</a>
    <a class="js-user-selects response button button-fill button-big color-lightblue" value="No">NO</a>
  </div>

</template>
