<template name="Lesson_view_page_multiple_choice">
  <div class="card-header large-text center ">{{module.question}}</div>
  <div class="card-content padding">
    {{#with (getOptions module 0 3) }}
      {{>rowOfOptions options=options}}
    {{/with}}
    {{#with (getOptions module 3 6) }}
      {{>rowOfOptions options=options }}
    {{/with}}
  </div>
</template>

<template name="rowOfOptions">
  <div class="row">
  {{#each option in options}}
    <div class="col-33">
      <!--[> IMG <]-->
      <img name="option" alt="{{option.i}}" src="{{option.optionImgSrc}}" class="js-user-selects response image-choice {{#if correct }} correct {{/if}}">
    </div>
  {{/each}}
  </div>
</template>
