<template name="scenarioModule">
  {{#moduleSlideWrapper}}
  
    <div class="card-header large-text center">
      {{question}}
    </div>

    <div class="card-content padding-sm">
      <img src="{{imgSrc}}" class="center module-image">
    </div>
    
    <div class="card-footer large-text">
      <a  class="js-user-selects response button-big color-green button button-fill scenario-btn {{#if isCorrectAnswer 'Normal' }} correct {{/if}}" value="{{option 0}}">
        <i class="fa fa-home fa-2x"></i> NORMAL
      </a>
              
      <a class="js-user-selects response button button-big color-yellow button-fill scenario-btn {{#if isCorrectAnswer 'CallDoc' }} correct {{/if}}" value="{{option 1}}">
        <i class="fa fa-phone fa-2x"></i> CALL {{#if isPhone }} DR {{else}} DOCTOR {{/if}}
      </a>

      <a class="js-user-selects response color-red button button-big button-fill scenario-btn {{#if isCorrectAnswer 'Call911' }} correct {{/if}}" value="{{option 2}}">
        <i class="fa fa-ambulance fa-2x"></i> EMERGENCY
      </a>
    </div>

  {{/moduleSlideWrapper}}
</template>
