<template name="Lesson_view_page_scenario">
  <div class="card-header large-text center">
    {{module.question}}
  </div>

  <div class="card-content padding-sm">
    <img src="{{getSrc module.image 'IMAGE'}}" class="center module-image">
  </div>
  
  <div class="card-footer large-text">
    {{> Button normalButtonArgs language=language module=module}}
    {{> Button callDoctorButtonArgs language=language module=module}}
    {{> Button emergencyButtonArgs language=language module=module}}
  </div>
</template>
