<template name="Lesson_view_page_video">
  <div class="card-header large-text">
    {{module.title}}
  </div>

  <div class="card-content padding-sm">
    <div class="overlay-wrapper thumbnail-image"> 

      <div class="inner-overlay-wrapper {{#if playing}} hidden {{/if}}">
        <img id='play_video' src="/play-button-overlay2.png" class="animate-scale animated-overlay"/>
      </div>

      {{#if module.isEmbedded}}
        <iframe {{iframeAttributes module}}></iframe>
      {{else}}
        <video {{videoTagAttributes module}}>
          Your browser does not support the video tag. Please logout and use another browser.
        </video>
      {{/if}}
    </div>
  </div>
</template>
