
<template name="multipleChoiceModule">
<div class="front">

  <div class="card-content">
    <div class="flow-text grey-text text-darken-2">{{>question}}</div>
    
    <div class="row">
    {{#each getOptionObjects}}
      <div class="col l4 m4 s4">
        <img src="{{optionImgSrc}}" class="image-choice" name="{{option}}"/>
      </div>
    {{/each}}
    </div>
  </div>

  <div class="card-action center-align">
      <a class="btn waves-effect waves-light white-text">SUBMIT</a>
  </div>
    
</div>

<div class="back">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
  {{>answer}}
</div>
</div>

</template>
