<template name="binaryChoiceModule">
    <!--<div class="card-image">-->
      <!--<img src="{{imgSrc}}"/>-->
    <!--</div>-->
    <div id="{{_id}}" class="card module">
      <div class="item ">
        <img src="{{imgSrc}}" class="{{class}}">
      </div>
        <div class="item item-text flow-text grey-text text-darken-2">
          {{question}}
        </div>
        <div class="item align-center overlay-wrapper">
          <a class="response btn waves-light waves-effect white-text" value="Yes">YES</a>
          <a class="response btn waves-effect waves-light white-text" value="No">NO</a>
        </div>
      </div>

</template>
