<template name="createCurriculum">
 <div class="container">
  <div class="row">
    <div class="row">
      <div class=" input-field col l6 m6">
        <label for="condition">Condition</label>
        <input type="text" id="condition"/>
      </div>
      <div class=" input-field col l6 m6">
        <label for="curriculumTitle">Title </label>
        <input type="text" id="curriculumTitle"/>
      </div>
      <div class="input-field col l6 m6">
        <button id="submitCurriculum" class="btn red large"> SUBMIT CURRICULUM </button>
      </div>
    </div>
    <div class="row">
      <button data-target="addLessonModal" style="width:100%" class='modal-trigger btn'  id="addLesson">Add Lesson <i class="mdi-content-add"></i></button>
    </div>
      <div class="row">
        <div class="col l8 m8">
          <ul class="collapsible" id="lessonsList" data-collapsible="expandable">
          </ul>
        </div>
      </div>
  </div>
 </div>

<div id="addLessonModal" class="modal">
  <div class="modal-content">  
    <form action="#" id="addLessonForm">
      <div class="row">
        <div class="input-field col l6 m6 ">
          <label for="lessonTitle">Title</label>
          <input type="text" id="lessonTitle">  
        </div>
        <div class="input-field col l6 m6 ">
          <label for="lessonShortTitle">Short Title</label>
          <input type="text" id="lessonShortTitle">  
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col l12 m12 ">
          <label for="lessonTags">Tags (separate each tag by a single space)</label>
          <input type="text" id="lessonTags" class="materialize-textarea">  
        </div>
      </div>

      <div class="row">
        <div class="col l12 m12">
          <!--<div class="file-field input-field">-->
            <!--<input class="file-path validate" type="text"/>-->
            <!--<div class="btn">-->
              <label for="lessonImage"> Image </label>
              <input  id="lessonImage" type="file"/>
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">  
    <button id="submitLesson" class="waves-effect btn-flat waves-green modal-action modal-close"> Submit Lesson</button>
  </div>
</div>
{{>addModuleModal}}
</template>

<template name="addModuleModal">
<div id="addModuleModal" class="modal">
  <div class="modal-content">  
    <input class="hidden" id="moduleLessonId" value="">
    
    <form action="#" id="moduleInitialization">
    
        <div class="row">
          <div class="input-field col l6 m6 ">
          <select id="moduleType">
            <option value="" disabled selected>Module Type</option>
            <option value="SCENARIO"> Scenario </option>
            <option value="MULTIPLE_CHOICE"> Multiple Choice </option>
            <option value="GOAL_CHOICE"> Goal Choice </option>
            <option value="BINARY"> Binary Choice </option>
            <option value="SLIDE"> Slide </option>
            <option value="VIDEO"> Video </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="input-field col l12 m12 ">
          <label for="moduleTags">Tags (separate each tag by a single space)</label>
          <input type="text" id="moduleTags" class="materialize-textarea">  
        </div>
      </div>
    </form>
      
    <form action="#" id="moduleAttributes">

      <div class="row">
        <div name="attributeRow" class="attributeRow input-field col l12 m12 SLIDE VIDEO hidden">
          <label for="moduleTitle">Title</label>
          <input type="text" id="moduleTitle"/>  
        </div>
      </div>
      
      <div class="row">
        <div name="attributeRow" class="input-field col l12 m12 BINARY MULTIPLE_CHOICE GOAL_CHOICE SCENARIO hidden">
          <label for="moduleQuestion">Question</label>
          <input type="text" class="materialize-textarea" id="moduleQuestion">  
        </div>
      </div>

      <div name="attributeRow" class="row SCENARIO">
      </div>
      
      <div  name="attributeRow" class=" row MULTIPLE_CHOICE GOAL_CHOICE hidden">
        <p>Options</p>
        <div class="input-field col l4 m4">
          <label for="option1"></label>
          <input type="text" name="option" id="option1">  
        </div>
        <div class="input-field col l4 m4">
          <label for="option2"></label>
          <input type="text" name="option" id="option2">  
        </div>
        <div class="input-field col l4 m4">
          <label for="option3"></label>
          <input type="text" name="option" id="option3">  
        </div>
      </div>
      
      <div name="attributeRow" class="row MULTIPLE_CHOICE GOAL_CHOICE hidden">
        <div class="input-field col l4 m4">
          <label for="option4"></label>
          <input type="text" name="option" id="option4">  
        </div>
        <div class="input-field col l4 m4">
          <label for="option5"></label>
          <input type="text" name="option" id="option5">  
        </div>
        <div class="input-field col l4 m4">
          <label for="option6"></label>
          <input type="text" name="option" id="option6">  
        </div>
      </div>

      <div  name="attributeRow" class="row SLIDE SCENARIO MULTIPLE_CHOICE GOAL_CHOICE BINARY hidden">
        <div class="col l12 m12">
          <label for="moduleAudio"> Audio </label>
          <input  id="moduleAudio" type="file"/>
        </div>
      </div>

      <div name="attributeRow" class="row SCENARIO MULTIPLE_CHOICE GOAL_CHOICE BINARY hidden">
        <div class="col l6 m6">
          <label for="moduleCorrectAudio"> Correct Audio </label>
          <input  id="moduleCorrectAudio" type="file"/>
        </div>
        <div class="col l6 m6">
          <label for="moduleIncorrectAudio"> Incorrect Audio </label>
          <input  id="moduleIncorrectAudio" type="file"/>
        </div>
      </div>
      
      <div name="attributeRow" class="row SLIDE SCENARIO MULTIPLE_CHOICE GOAL_CHOICE BINARY hidden">
        <div class="col l12 m12">
          <label for="moduleImage"> Image </label>
          <input  id="moduleImage" type="file"/>
        </div>
      </div>

      <div name="attributeRow"  class="row VIDEO hidden">
        <div class="col l12 m12">
          <label for="moduleVideo"> Video </label>
          <input  id="moduleVideo" type="file"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">  
    <button id="submitModule" class="waves-effect btn-flat waves-green modal-action modal-close"> Submit Module </button>
  </div>
</div>
</template>
