<template name="scenarioModule">

  <form  role='form' class="form-horizontal">  
    <legend>{{>question}}</legend>

    <table class="table table-responsive no-border">
        <tr >
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <td> 
                {{>moduleImage}} 
            </td>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <td> 
                <div class="row centered-content-row">
                  <a class="btn btn-success btn-raised response-btn" value="{{option 0}}"><div class="inner-btn-container"><img src="{{normalIconSrc}}"/><span >NORMAL</span></div></a>
                </div>
                <div class="row centered-content-row">
                  <a class="btn btn-warning btn-raised response-btn" value="{{option 0}}"><img src="{{callDoctorIconSrc}}"/><span>CALL DOCTOR</span></a>
                </div>
                <div class="row centered-content-row">
                  <a class="btn btn-danger btn-raised response-btn" value="{{option 0}}"><img src="{{emergencyIcon}}"/><span>CALL 911</span></a>

                </div>
            </td>
          </div>
          
        </tr>

      </table>
   
  </form>

{{>answer}}

</template>
