<template name="moduleFooter">
<!--<footer>-->
  <div class="module-navigation-bar">
    <!--<a class="waves-effect" name="previous" style="display:inline"><i class="mdi-navigation-chevron-left small"></i></a>-->
    <div class="dotstyle dotstyle-scaleup"> 
      <ul class="">
        {{#each modules}}
          {{#if currentModule}} 
            <li class="current" name="{{i}}"><a class="module_nav" name="{{i}}"></a></li>
          {{else}}
            <li name="{{i}}"><a class="module_nav" name="{{i}}"></a></li>
          {{/if}}
        {{/each}}
            
      </ul>
    </div>
    {{>nextBtn class=""}}
    <!--<a class="waves-effect" name="next" style="display:inline"><i class="mdi-navigation-chevron-right small"></i></a>-->
  </div> 
  
  <!--</footer>-->
</template>
