<template name="moduleFooter">
<div class=" bottom row valign-wrapper">
  <div class="col s4 m4 l4">
    {{#each moduleDocs}}
      <audio src="{{audioSrc}}" name="audio{{nh_id}}" class="question"></audio>
    {{/each}}
  </div>

  <div class="col s4 m4 l4 center-align valign">
    <!--<a class="waves-effect" name="previous" style="display:inline"><i class="mdi-navigation-chevron-left small"></i></a>-->
    <div class="dotstyle dotstyle-scaleup"> 
      <ul class="">
        {{#each modules}}
          {{#if currentModule}} 
          <li class="current" name="{{i}}"><a class="module_nav {{#if correctlyAnswered i}} green {{/if}} {{#if incorrectlyAnswered i}} red {{/if}}" name="{{i}}"></a></li>
          {{else}}
          <li name="{{i}}"><a class="module_nav {{#if correctlyAnswered i}} green {{/if}} {{#if incorrectlyAnswered i}} red {{/if}}" name="{{i}}"></a></li>
          {{/if}}
        {{/each}}
            
      </ul>
    </div>
    <!--<a class="waves-effect" name="next" style="display:inline"><i class="mdi-navigation-chevron-right small"></i></a>-->
  </div> 
  
  <div class="col s4 m4 l4 valign-wrapper right-align">
    {{>nextBtn class=""}}
  </div>
</div>
</template>
