<template name="chapterThumbnail">
<!--{{#StateModifier size=getSize align="[.5, .5]" origin="[.5, .5]" translate=getTranslate}}-->
  <!--{{#Surface  class="" textAlign="center"}}-->
  <a>
    <div class=" card white z-depth-1" id="{{nh_id}}">
      <div class="success-overlay center-align valign-wrapper hidden">
        <div class="valign sticker green valign-wrapper center-align z-depth-2 valign-wrapper">
          <i class="mdi-navigation-check large valign"></i>
        </div>
      </div>
      <div class="card-image center-align chapter-card-image"> 
        <img src="{{imgSrc}}"/>
      </div> 
      <div class="card-content">
        <p class="center-align flow-text grey-text text-darken-2">{{title}}</p>
      </div>
    </div>
  </a>
  <!--{{/Surface}}-->
<!--{{/StateModifier}}-->
<!--  <div class="col s12 m6 l4 greyed-out">-->
</template>
