<template name="chapterThumbnail">
  <a>
    <div class=" card z-depth-1 chapter-card" id="{{nh_id}}">
      <div class="success-overlay center-align valign-wrapper hidden">
        <div class="valign sticker green valign-wrapper center-align z-depth-2 valign-wrapper">
          <i class="mdi-navigation-check large valign"></i>
        </div>
      </div>
      <div class="card-image center-align chapter-card-image"> 
        <img src="http://127.0.0.1:8080/NooraHealthContent/Image/aaa.png"/>
        <!--<img src="{{imgSrc}}"/>-->
      </div> 
      <div class="card-content">
        <p class="center-align flow-text grey-text text-darken-2">{{title}}</p>
      </div>
    </div>
  </a>
</template>
