<template name="chapterThumbnail">
{{#StateModifier size=getSize align="[.5, .5]" origin="[.5,.5]" }}
  {{#Surface  class="" textAlign="center" }}
    <a href="{{ pathFor 'chapter'}}">
      <div class="card z-depth-1 chapter-card">
        <div class="card-image chapter-card-image"> 
          <img src="{{imgSrc}}"/>
        </div> 
        <div class="card-content">
          <p class="center-align flow-text grey-text text-darken-2">{{title}}</p>
        </div>
      </div>
    </a>
  {{/Surface}}
{{/StateModifier}}
<!--  <div class="col s12 m6 l4 greyed-out">-->
</template>
