<template name="home">
  {{#contentFor "headerTitle"}}
    <a href="{{pathFor 'home'}}"><img class="round-tile z-depth-2" alt="Noora Health" src="/NHlogo.png"/></a>
  {{/contentFor }}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear button-icon ion-navicon" data-ion-menu-toggle='right'></button>
  {{/contentFor }}

  {{#ionView}}
    {{#ionContent}}
    {{#ionSideMenuContainer}}
      {{#ionSideMenus}}

        {{#ionSideMenu side='right'}}
          {{>sideMenu}}
        {{/ionSideMenu}}

        {{#ionSideMenuContent}}
          <p>CONTENTJk</p>
        {{/ionSideMenuContent}}
      {{/ionSideMenus}}
     {{/ionSideMenuContainer}}
     <p>OUTSIDE</p>
    {{/ionContent}}
  {{/ionView}}

</template>

