<template name="lessonThumbnail">
  <a>
    <div class=" card {{#if isCurrentLesson}} z-depth-3 {{else}} z-depth-1 {{/if}} chapter-card" id="{{_id}}">
      <div class="img-with-toasts-wrapper center-align card-image center-align chapter-card-image valign-wrapper"> 
        {{#if isCurrentLesson}}
          <div class="inner-toasts-wrapper">
            <img src="play-button-overlay.png" class="valign toast-overlay"/>
          </div>
        {{/if}}
        <img src="{{imgSrc}}" class="valign"/>
      </div> 
      <div class="card-content">
        <p class="center-align flow-text grey-text text-darken-2">{{title}}</p>
      </div>
    </div>
  </a>
</template>
