
.select-language-button-container {
  width: 250px;
  height: 250px;
  border-radius: 250px;
}

.select-language-button-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
