
<template name='Home_language_menu_list_item'>
  <div class='card color-blue-noora'>
    <div class="card-content">
      <div class="card-header">
        <div class="center large-text bold-text">
          {{translate "name" language "UPPER" }}
        </div>
      </div>
      <div class="card-header">
        <a class="center color-green demi-bold-text large-text button-fill button button-round select-language-button">
          {{translate "select" language "UPPER" }}
        </a>
      </div>
    </div>
  </div>
</template>
