
<template name='Home_language_menu_list_item'>
  <!--<div class='card color-blue-noora'>-->
    <!--<div class="card-content">-->
      <!--<div class="card-header">-->
        <!--<div class="center large-text bold-text">-->
          <!--{{translate "name" language "UPPER" }}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card-header">-->
        <!--<button class="center light-color-gold demi-bold-text large-text button-fill button button-round select-language-button">-->
          <!--{{translate "select" language "UPPER" }}-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class='center card select-language-button-container light-blue-noora'>
    <div class="full-height card-content select-language-button-content">
      <div class="center extra-large-text">
        {{translate "name" language "UPPER" }}
      </div>
    </div>
  </div>
</template>
