<template name="videoModule">
      <div class="card-header large-text">
        {{title}}
      </div>

      <div class="card-content padding-sm">
        {{#if isEmbedded}}
          <iframe id="video{{_id}}" title="{{title}}" class="embedded-video center" src="{{video_url}}?start={{start}}&end={{end}}" frameborder="0" allowfullscreen></iframe>
        {{else}}
          <video id="video{{_id}}" src="{{videoSrc}}" class="video-module center" controls autoplay>
            Your browser does not support the video tag. Please logout and use another browser.
          </video>
        {{/if}}
      </div>

</template>
