
/*@import '../../../.meteor/local/build/programs/server/assets/packages/wolves_bourbon/bourbon/_bourbon';*/
@import "{wolves:bourbon}/_bourbon";
/*@import "{meteoric:ionicons-sass}/_ionicons";*/

/*@import '_bourbon';*/

@import '../_variables'; 

@import '../_mixins';

@import '../_layout';

/* -------------------------------- 

 BASE

-------------------------------- */

.response {
  width: 48%;
}

.module-container {
  max-width: 850px;
  position: relative;
  width: 100%;
}

.module {
  z-index: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.module-card {
  width: 800px;
  height: 75%;
  margin: auto;
  border: 4px solid $primary-blue;
  @include transition(2s);
}

.module-image {
  @media(max-width:600px) {
    height: 35vh;
  }
  @media(min-width: 600px){
    height: 50vh;
  }
  max-width: 100%;
}

.correctly-selected {
  border: 4px solid $success !important;
}

.selected{
  border: 4px solid $primary-blue;
}

.incorrectly-selected {
  border: 4px solid $danger !important;
}

/* -------------------------------- 

 ANIMATIONS

-------------------------------- */

.slide-up {
  /*@include transform(translateY(-300px));*/
  @include animation(slideup 1s ease);
  @include animation-fill-mode(forwards);
}

.slide-down {
  @include transform(translate3d(0, 1000px,0));  
}


/* -------------------------------- 

  TEMPLATE-SPECIFIC

-------------------------------- */

.scenario-btn {
  @include display(flex);
  @include justify-content(center);
  margin: 4px;
  width: 29%;
}

/*.binary-btn {*/
  /*width: 200px;*/
  
  /*@media (max-width: 992px) {*/
    /*width: 150px;*/
  /*}*/
/*}*/

.yes-button {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px 20px 2px 2px;
  line-height: 50px;
}

.no-button {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 20px 2px 2px 2px;
  line-height: 50px;
}

.binary-image {
  height:45vh;
  max-width: 80%;
}

.video-module {
  width: 100%;
  height: 450px;
}

.embedded-video {
  @media(min-width: 600px) {
    width: 660px;
    height: 480px;
  }
  @media(max-width: 668px) {
    height: 200px;
    width: 320px;
  }
}

.image-choice {
  cursor: pointer;
  width: 90%;
  height: 22vh;
  padding: 3px;
}

/* -------------------------------- 

  FOOTER

-------------------------------- */

.toolbar {
  background-color: $white !important;
  color: $font-color !important;
  height: 60px;
}

.footer-button {
  @include transition(all, 1s);
  letter-spacing: 2px;
  font-size: 20px;
}

.progressbar {
  background: $white;
  height: 15px;
  border: 2px solid $primary-blue;
  background: $primary-blue !important;
}

.green {
  background-color: $success !important;
}

.red {
  background-color: $danger !important;
}

.gohome-button {
  margin-right: 60px;
  right: 20px;
}

.replay-button {
  /*right: 20px;*/
}

.dotstyle {
  display: inline-block;
  padding: 15px;
  width: 400px;
}

.dotstyle ul {
  @include display(flex);
  @include justify-content(center);
  /*display: flex !important;*/
  /*justify-content: center !important;*/
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  list-style: none;
}

.dotstyle li {
  position: relative;
  display: block;
  float: left;
  margin: 0 7px;
  width: 25px;
  height: 25px;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 10px;
    height: 10px;
    margin: 0 3px;
  }
}

.dotstyle li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: $light-blue;
  text-indent: -999em;
  cursor: pointer;
  position: absolute;
  text-align: center;
  text-indent: 0em !important;
  color: $white !important;
}

.dotstyle-scaleup li a {
  -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.dotstyle-scaleup li a:hover,
.dotstyle-scaleup li a:focus {
  opacity: 1;
  background-color: $light-blue;
}

.dotstyle-scaleup li.current a {
  background-color: $primary-blue;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.module-navigation-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.next-module-button {
  @include transition(all 1s);
}

/* -------------------------------- 

  F7 OVERRIDES

-------------------------------- */

.swiper-button-next {
  width: auto !important;
  margin-top: 0;
  top: auto;
}

.swiper-button-disabled {
  pointer-events: auto !important;
  opacity: 1 !important;
}
