

/*@import '../../../.meteor/local/build/programs/server/assets/packages/wolves_bourbon/bourbon/_bourbon';*/
@import "{wolves:bourbon}/_bourbon";
/*@import "{meteoric:ionicons-sass}/_ionicons";*/

/*@import '_bourbon';*/

@import '../_variables'; 

@import '../_mixins';

@import '../_layout';

/* -------------------------------- 

 BASE

-------------------------------- */

.response {
  width: 48%;
}

.module-container {
  max-width: 850px;
  position: relative;
  width: 100%;
}

.module {
  z-index: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.module-card {
  width: 800px;
  height: 75%;
  margin: auto;
  border: 4px solid $primary-color-1;
  @include transition(2s);
}

.module-image {
  @media(max-width:600px) {
    height: 35vh;
  }
  @media(min-width: 600px){
    height: 50vh;
  }
  max-width: 100%;
}

.correctly-selected {
  border: 4px solid $green !important;
}

.selected{
  border: 4px solid $primary-color-1;
}

.incorrectly-selected {
  border: 4px solid $red !important;
}

/* -------------------------------- 

 ANIMATIONS

-------------------------------- */

.slide-up {
  /*@include transform(translateY(-300px));*/
  @include animation(slideup 1s ease);
  @include animation-fill-mode(forwards);
}

.slide-down {
  @include animation(slideDown 2s ease);
  @include animation-fill-mode(forwards);
  /*@include transform(translate3d(0, 1000px,0));  */
}

.translate-down {
  @include transition(all, 1s);
  @include transform(translate3d(0, 300px,0));  
}

/* -------------------------------- 

  TEMPLATE-SPECIFIC

-------------------------------- */

.scenario-btn {
  @include display(flex);
  @include justify-content(center);
  margin: 4px;
  width: 29%;
}

.binary-button {
  font-weight: $bold-font-weight !important;
  font-size: 30px !important;
  position: absolute;
  line-height: 50px !important;
}

.yes-button {
  left: 0;
  bottom: 0;
  border-radius: 2px 20px 2px 2px;
}

.no-button {
  right: 0;
  bottom: 0;
  border-radius: 20px 2px 2px 2px;
}

.binary-image {
  height:45vh;
  max-width: 80%;
}

.video-module {
  width: 100%;
  height: 450px;
}

.embedded-video {
  @media(min-width: 600px) {
    width: 660px;
    height: 480px;
  }
  @media(max-width: 668px) {
    height: 200px;
    width: 320px;
  }
}

.image-choice {
  cursor: pointer;
  width: 90%;
  height: 22vh;
  padding: 3px;
}

/* -------------------------------- 

  FOOTER

-------------------------------- */

.toolbar {
  background-color: $white !important;
  color: $primary-font-color !important;
  height: 60px;
}

.footer-button {
  @include transition(all, 1s);
  letter-spacing: 2px;
  font-size: 20px;
}

.progressbar {
  background: $white;
  height: 15px;
  /*border: 2px solid $primary-color-1;*/
  /*border: 2px solid $green;*/
}

.progressbar span {
  background: $green !important;
}

.green {
  background-color: $green !important;
}

.red {
  background-color: $red !important;
}

.gohome-button {
  margin-right: 60px;
  right: 20px;
}

.replay-button {
  /*right: 20px;*/
}

.module-navigation-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.next-module-button {
  @include transition(all 1s);
}

/* -------------------------------- 

  F7 OVERRIDES

-------------------------------- */

.select-level-button {
  width: 75%;
}

.swiper-wrapper {
  align-items: center
}

.swiper-button-next {
  width: auto !important;
  margin-top: 0;
  top: auto;
}

.swiper-button-disabled {
  pointer-events: auto !important;
  opacity: 1 !important;
}
