<template name="lessonsView">

  <!--<button class="right button button-clear button-icon ion-navicon" data-ion-menu-toggle='right'></button>-->

  <div class="panel-overlay"></div>

  <!-- Left panel, let it be with reveal effect -->
  <div class="panel panel-cover panel-right">
    {{>sideMenu}}
  </div>

  <div class="content-block inner-container">
    <div class="content-block-title large-text">{{curriculumTitle}}</div>
    <div class="list-block">
      <div class="cards-list">
        <ul>
          {{#each lessons}}
            {{>lessonThumbnail}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

</template>

