<template name="lessonsView">
    
  <!--<button class="right button button-clear button-icon ion-navicon" data-ion-menu-toggle='right'></button>-->
      <div class="content-block inner-container">
        <div class="list-block">
          <div class="cards-list">
            <ul class="lessons-list">
              {{#momentum plugin='fade'}}
                {{#each lessons}}
                  {{>lessonThumbnail}}
                {{/each}}
              {{/momentum}}
            </ul>
          </div>
        </div>
      </div>
      <!--{{/if}}-->
</template>

