
<template name="lessonThumbnail">
  <div class="lesson-card card {{#if currentLesson}} current-lesson {{else}} faded {{/if}}">
    <div class="card-content">

      <div class="lesson-card-image card-header">
        <div class="overlay-wrapper thumbnail-image"> 
          {{#if currentLesson}}
            <div class="inner-overlay-wrapper">
              <img src="/play-button-overlay2.png" class="animate-scale animated-overlay"/>
            </div>
          {{/if}}

          <img src="{{imgSrc}}"/>
        </div> 
      </div>

      <div class="card-footer">
        <p class="center large-text">{{title}}</p>
      </div>

    </div>
  </div>
</template>
