<template name="modulesSequence">
  {{#ionBody}}
    {{>ionNavBar class='nav z-depth-1'}}

    {{#ionNavView}}
      {{#contentFor "headerTitle"}}
        <a href="{{pathFor 'home'}}"><img class="round-tile z-depth-2" alt="Noora Health" src="/NHlogo.png"/></a>
      {{/contentFor }}

      {{#contentFor "headerButtonRight"}}
        {{>ionNavBackButton path='home'}}
      {{/contentFor }}

      {{#ionView}}
        {{#ionContent}}
          {{#ionSlideBox}}
            {{#each modules}}

              {{#ionSlide}}

                {{#if isBinaryChoice}}
                  {{>binaryModule}}
                {{/if}}
                {{#if isSlideModule}}
                  {{>slideModule}}
                {{/if}}
                {{#if isScenario }}]
                  {{>scenarioModule}}
                {{/if}}
                {{#if isMultipleChoice }}
                  {{> multipleChoiceModule }}
                {{/if}}
                {{#if isVideo }}
                  {{> videoModule }}
                {{/if}}

              {{/ionSlide}}

            {{/each}}
          {{/ionSlideBox}}
        {{/ionContent}}
      {{/ionView}}
    {{/ionNavView}}
  {{/ionBody}}
</template>

