<template name="modulesSequence">
  <audio id="audio"></audio>
  <audio id="correctaudio"></audio>
  <!--<audio id="incorrectaudio"></audio>-->
  {{#if isCordova}}
    <audio id="correct_soundeffect" src="http://p2.noorahealth.org/correct_soundeffect.mp3"></audio>
    <audio id="incorrect_soundeffect" src="http://p2.noorahealth.org/incorrect_soundeffect.mp3"></audio>
  {{else}}
    <audio id="correct_soundeffect" src="/correct_soundeffect.mp3"></audio>
    <audio id="incorrect_soundeffect" src="/incorrect_soundeffect.mp3"></audio>
  {{/if}}

  <div class="content-block inner-container">
    <div class="content-block-title large-text">{{lessonTitle}}</div>

    {{#with module}}
      <div id="{{_id}}" class="card">
        {{#if isBinaryChoice}}
          {{>binaryChoiceModule}}
        {{/if}}
        {{#if isSlideModule}}
          {{>slideModule}}
        {{/if}}
        {{#if isScenario }}
          {{>scenarioModule}}
        {{/if}}
        {{#if isMultipleChoice }}
          {{> multipleChoiceModule }}
        {{/if}}
        {{#if isVideo }}
          {{> videoModule }}
        {{/if}}
      </div>

    {{/with}}
    </div>

    <div id="pop-up-div" class="inner-overlay-wrapper response-pop-up-wrapper">
      <img src="/no.png" class="response-pop-up center" id="incorrect-pop-up"/>
      <img src="/yes.png" class="response-pop-up center" id="correct-pop-up"/>
    </div>

</template>

