<template name="binaryChoiceModule">

  <form  role='form' class="form-horizontal">  
    <legend>{{>question}}</legend>

    <table class="table table-responsive no-border">
        <tr class="row">
         
            <td> 
              {{>moduleImage}} 
            </td>           
            
            <td> 
              <div class="row centered-content-row">
                <a class="btn btn-success btn-raised binary-btn large-font" value="yes">YES</a>
              </div>
              <div class="row centered-content-row">
                <a class="btn btn-danger btn-raised binary-btn large-font" value="no">NO</a>
              </div>
            </td>
  
        </tr>

      </table>

      <!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">-->
        <!--{{>moduleImage}}-->
      <!--</div>-->
    
  </form>


  {{>answer}}

</template>
