<template name="binaryChoiceModule">
  <audio src="{{audioSrc}}" name="audio{{nh_id}}" class="question" autoplay></audio>
    <div class="card-image">
      <img src="{{imgSrc}}"/>
    </div>
    
    <div class="card-content flow-text">
      <!--{{question}}-->
      QUEEETTTION
    </div>

    <div class="card-action center-align">

      <a name="{{nh_id}}" class="disabled response btn green waves-light waves-effect white-text {{#if isCorrectAnswer 'yes' }} correct {{/if}}" value="yes">YES</a>

      <a name="{{nh_id}}" class="disabled response btn red waves-effect waves-light white-text {{#if isCorrectAnswer 'no'}} correct {{/if}} " value="no">NO</a>

    </div>

  <audio name="audio{{nh_id}}" class="correct" src="{{correctAnswerAudio}}"></audio>
  <audio name="audio{{nh_id}}" class="incorrect" src="{{incorrectAnswerAudio}}"></audio>

</template>
