<template name="nav">
  <tile class="round-tile">
    <a href="{{pathFor 'home'}}"><img class="logo z-depth-2" alt="Noora Health" src="/NHlogo.png"/></a>
  </tile>

  <nav>
    <div class="nav-wrapper">
      <ul class="right">
        <!--<li><a id="at-nav-btn">Logout</a></li>-->
        <li><a href="{{pathFor 'selectCurriculum'}}">Select your Curriculum</a></li>
        <li><a onClick="Meteor.logout()"><i class="mdi-action-exit-to-app"></i></a></li>
        <!--<li>{{>atNavButton}}</li>-->
      </ul>
    </div>
    {{#each moduleDocs}}
      <audio id="toplay{{_id}}" src="{{audioSrc}}" preload="auto"></audio>
    {{/each}}

  </nav>
</template>
