// colors

/*$color-1: #dbe2e9; // blue light*/
$color-1: #E1F5FE; // blue light
/*$color-2: #89ba2c; // green*/
$color-2: #81D4FA; // green
/*$color-3: #424f5c; // blue dark*/
$color-3: #03A9F4; // blue dark
/*$color-3: #F5FFFF; // blue dark*/
$color-4: #0277BD; // white

$border-color: #ddd;
// fonts 

$primary-font: 'Quicksand';

$nav-height: 50px;

// panel size

$panel-width-S: 90%;
$panel-width-M: 70%;
$panel-width-L: 50%;
$panel-width-XL: 40%;

$padding-L: 30px;
$padding-M: 15px;
$padding-S: 8px;

$footer-height: 50px;

