// colors

$color-1: #dbe2e9; // blue light
$color-2: #89ba2c; // green
$color-3: #424f5c; // blue dark
$color-4: #ffffff; // white

$border-color: #ddd;
// fonts 

$primary-font: 'Quicksand', sans-serif;
$secondary-font: 'Quicksand', serif;

// panel size

$panel-width-S: 90%;
$panel-width-M: 70%;
$panel-width-L: 50%;
$panel-width-XL: 40%;

$padding-M: 15px;
$padding-S: 8px;

$footer-height: 50px;

