@import '_bourbon';

@import '_variables'; // colors, fonts etc...

@import '_mixins'; // custom mixins

@import '_layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing(border-box);
}

*::after, *::before {
	content: '';
}

body {
	font: {
    font-weight: $primary-font-weight;
    family: "Roboto";
	}
	color: $primary-font-color;
	background: $light-blue-1;
  margin-bottom: $footer-height;
  min-height: 50px;

}

footer {
	background-color: $white;
  color: $muted;
  position: fixed;
  left: 0;
  bottom:0;
  padding: $padding-S;
  width:100%;

  & .breadcrumb {
    background-color: $primary-blue;
    color: $dark-blue-1;
  }
}

a {
	color: lighten($primary-font-color, 16%);
	text-decoration: none;
  
  &:hover {
	  color: $primary-font-color;
    text-decoration: none;
  }
}

tile {
  position: fixed;
  z-index: 2;

  &.brand-tile {
    & img {
      top: 20;
      margin-left: 10px;
      max-width: 60px;
      background-color: #FFFFFF;
      padding: 10px;
    }
  }
}

td {
  vertical-align:middle;
}


/* -------------------------------- 

Custom NH components 

-------------------------------- */
.row {
  margin: 0;
}

.centered-content-row {
  text-align: center;
}

.response-btn {
  width: 200px;
  height:75px;
  margin-right: auto;
  margin-left: auto;

  & img {
    max-width: 50px;
  }

}
.radio-btn {
  padding: $padding-S;
}


.dotstyle {
  display: inline-block;
}

.dotstyle ul {
  position: relative;
  /*display: inline-block;*/
  margin: 0 auto;
  width: 100%;
  padding: 0;
  list-style: none;
  /*cursor: default;*/
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 5px;
	width: 16px;
	height: 16px;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 10px;
    height: 10px;
    margin: 0 3px;
  }
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: $light-blue-2;
	/*background-color: rgba(255,255,255,0.3);*/
	text-indent: -999em;
	cursor: pointer; /* make the text accessible to screen readers */
	position: absolute;
}

.dotstyle-scaleup li a {
	-webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.dotstyle-scaleup li a:hover,
.dotstyle-scaleup li a:focus {
  opacity: 1;
	background-color: $light-blue-1;
}

.dotstyle-scaleup li.current a {
	background-color: $primary-blue;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

.module-navigation-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.add-margin {
  margin: 20px;
}

.panel > .panel-heading {
  background-color: $white;
}

.navbar {
  background-color: $primary-blue;
}

.middle {
  height: 100%;
  vertical-align: middle;
}
.padding-bottom-lg {
  padding-bottom: $padding-L;
}

.panel {
  background-color: $white;
}

.image-choice {
}

.answer {
  display: none;
}

//CUSTOM CSS3 SLIDING PANELS
.module-panel {
  & img {
    width: 100%;
  }
}

.hidden-right {
  visibility:hidden;
  position: absolute;
  transition: all 1s;
}

.hidden-left {
  visibility:hidden;
  position: absolute;
  width:100%;
  @include transition-property(transform);
  @include transition-delay(0.2s);
  @include transition-duration(0.3s);
  @include transition-timing-function(ease-in-out);
}

.visible-module {
  padding: $padding-M; 
  visibility:visible;

  @include transition-property(transform);
  @include transition-delay(0.2s);
  @include transition-duration(0.3s);
  @include transition-timing-function(ease-in-out);
}

video {
  width: 100%;
}

.section-panel {
  display: inline-block;
  width: $panel-width-S;
  background-color: $white;
  
  img {
    width: $panel-width-XL;
    padding: 5px;
    vertical-align: middle;
  }
  span {
    vertical-align: middle;
  }
}

.lesson-panel {
  background-color: $white;
  color: #333;
  border: 1px solid $border-color; 
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  padding: $padding-S;

  td {
    padding: $padding-M;
    vertical-align: middle;
  }

  img {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid $border-color;
  }
}

.greyed-out {
  opacity: .75;
  -webkit-opacity: .75;
  -moz-opacity: .75;
}

.greyed-out:hover {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
}

.progress {
  margin: 5px;
}

@media (max-width: 768px) {
  .lesson-panel {
    max-width: 500px;
    font-size: 60%;
  }
}

@media (max-width: 992px) {
  .thumbnail {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }

}
@media (min-width: 768px) {

  .lesson-panel {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .thumbnail {
    height: 330px;
  }
}
/* -------------------------------- 

Main components 

-------------------------------- */

html, body {
	height: 100%;
}

.cd-panel {
	position: fixed;
  z-index:2;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	@include transition(visibility 0s .6s);

	&::after {
		/* overlay layer */
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#000, 0);
		cursor: pointer;
		@include transition(background .3s .3s);
	}

	&.is-visible {
		visibility: visible;
		@include transition(visibility 0s 0s);

		&::after {
			background: rgba(#000, .6);
			@include transition(background .3s 0s);
		}

		.cd-panel-close::before {
			@include animation(cd-close-1 .6s .3s);
		}

		.cd-panel-close::after {
			@include animation(cd-close-2 .6s .3s);
		}
	}
}

@include keyframes(cd-close-1) {
	0%, 50% {
		@include transform(rotate(0));
	}

	100% {
		@include transform(rotate(45deg));
	}
}

@include keyframes(cd-close-2) {
	0%, 50% {
		@include transform(rotate(0));
	}

	100% {
		@include transform(rotate(-45deg));
	}
}

.cd-panel-header {
	position: fixed;
	width: $panel-width-S; // variables inside partials > _variables.scss
	height: 50px;
	line-height: 50px;
	background: rgba($primary-blue, .96);
	z-index: 2;
	box-shadow: 0 1px 1px rgba(#000, .08);
	@include transition(top .3s 0s);

	h1 {
    color: lighten($primary-font-color, 16%);
		padding-left: 5%;
	}

	.from-right &, .from-left & {
		top: -50px;
	}

	.from-right & {
		right: 0;
	}

	.from-left & {
		left: 0;
	}

	.is-visible & {
		top: 0;
		@include transition(top .3s .3s);
	}

	@include MQ(M) {
		width: $panel-width-M;
	}

	@include MQ(L) {
		width: $panel-width-L;
	}
}

.cd-panel-close {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 60px;

	/* image replacement */
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;

	&::before, &::after {
		/* close icon created in CSS */
		position: absolute;
		top: 22px;
		left: 20px;
		height: 3px;
		width: 20px;
		background-color: #333;
		/* this fixes a bug where pseudo elements are slighty off position */
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	&::before {
		@include transform(rotate(45deg));
	}

	&::after {
		@include transform(rotate(-45deg));
	}

	.no-touch &:hover {
		background-color: $primary-blue;

		&::before, &::after {
			background-color: $dark-blue-1;
			@include transition-property(transform);
			@include transition-duration(.3s);
		}

		&::before {
			@include transform(rotate(220deg));
		}

		&::after {
			@include transform(rotate(135deg));
		}
	}
}

.cd-panel-container {
	position: fixed;
	width: $panel-width-S;
	height: 100%;
	top: 0;
	background: $white;
	z-index: 1;
	@include transition-property(transform);
	@include transition-duration(.3s);
	@include transition-delay(.3s);

	.from-right & {
		right: 0;
		@include transform(translate3d(100%, 0, 0));
	}

	.from-left & {
		left: 0;
		@include transform(translate3d(-100%, 0, 0));
	}

	.is-visible & {
		@include transform(translate3d(0, 0, 0));
		@include transition-delay(0s);
	}

	@include MQ(M) {
		width: $panel-width-M;
	}

	@include MQ(L) {
		width: $panel-width-L;
	}
}

.cd-panel-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 70px 5%;
	overflow: auto;

	/* smooth scrolling on touch devices */
	-webkit-overflow-scrolling: touch;

	p, li {
		/*@include font-size(14px);*/
		color: $primary-blue;
		line-height: 1.4;
		margin: 2em 0;

		&:first-of-type {
			margin-top: 0;
		}
	}

	@include MQ(M) {
		p, li {
			/*@include font-size(16px);*/
			line-height: 1.6;
		}
	}
}
