@import '.meteor/local/build/programs/server/assets/packages/wolves_bourbon/bourbon/_bourbon';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

/*@import '_bourbon';*/

@import '_animations';

@import '_variables'; 

@import '_mixins';

@import '_layout';

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

html, body {
  overflow: scroll;
}

body {
  .pane, .view {
    /*color: $primary-font-color;*/
    background: $light-blue-1;
    overflow: scroll;
  }

  a {
    /*color: lighten($primary-blue, 30%);*/
    text-decoration: none;
    
    &:hover {
      /*color: $primary-blue;*/
      text-decoration: none;
    }
  }
}

.nav {
  background-color: $primary-blue;
  width: 100%;
  color: #fff;
}

.right {
  margin-left: auto;
}

.nav-menu {
  & ul {
    margin: 5px; 
  }

  & ul li {
    display: inline;
    margin: 10px;
    font-size: 15px;
  }

  & i {
    vertical-align: middle;
  }

}

.round-tile {
  border-radius: 30px;
  background-color: #FFFFFF;
  padding: 8px;
  margin: 10px;
}

.full-width {
  width: 100%;
}

.thumbnail-wrapper {
  height: 366px;
  margin: 15px;
}

.fit-height {
  height: 100%;
}

.thumbnail-image {
  height: 75%;
}

.lesson-thumbnail {
  width: 55%;
  height: 100%;
  margin: auto;
}

.response-pop-up-wrapper {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.show-pop-up {
  z-index: 10;
  opacity: 1 !important;
  @include transform(translate3d(0, -75px,0));  
}

.response-pop-up {
  @include transition(all, 1s);
  opacity: 0;
  height: 50px;
  width: 50px;
}

.expanded {
  @include transition-delay(.3s);
  @include transition(scale, 2s);

  @media(min-width: 600px) {
    @include transform(scale(1.1)); 
  }
  @media(max-width: 600px) {
    @include transform(scale(1.2)); 
  }
}

.faded {
  @include transition-delay(.3s);
  @include transform(scale(.75));
  @include transition(2s);
  opacity: 0.5;
}

td {
  vertical-align: middle;
  width: 100%;
  padding: 10px;

  & img {
    vertical-align: middle;
  }
}

.container {
  padding-bottom: 100px;
}


/* -------------------------------- 

Custom NH components 

--------------------------------*/
.video-module {
  height: 500px;
}

.embedded-video {
  @media(min-width: 600px) {
    width: 660px;
    height: 480px;
  }
  @media(max-width: 668px) {
    height: 200px;
    width: 320px;
  }
}

.padding {
  padding: 50px;
}

.next-btn-tile {
  @include transition(all, 1s);
  background-color: $light-blue-2;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  color: #ffffff !important;
  position: absolute;
  right:20px;
  bottom: 15px;
}

.padding-lg {
  padding: 30px;
}
.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner {
  background-color: #fff;
}

.module-footer {
  display: block;
}

.done {
  background:green;
}

.fullScreen {
  height: 90%;
  width: 100%;
}

.uploadOption {
  height: 50px;
  text-align: center;
  margin: 20px;
  padding:5px;
}

.bottom {
  bottom: 0 !important;
}

#addModuleModal {
  height: 100%;
  width: 80%;
}
.margin-top {
  margin-top:20px;
}

.file-input {
  margin-right: 10px;
  font-size:1em;
}

.align-left {
  align: left;
}
.noora-entry-logo {
  
  img {
    width:100%;
    height:100%;
  }
}
.response {
  width: 48%;
}

.module {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.scale-up {
  @include animation(scale 1.0s ease);
  @include animation-iteration-count(infinite);
  /*@include animation-duration(2s);*/
  /*@include animation-timing-function(ease);*/
  /*@include animation-name(scale);*/
} 

.overlay-wrapper {
  position: relative;
  & > .inner-overlay-wrapper {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;

    & > .animated-overlay {
      z-index: 10;
      margin-right: auto;
      margin-left:auto;
      height: 100px !important;
      width: 100px !important;
    }
  }
}

.module-wrapper {
  text-align:center;
  width: 100%;
}

.module-image {
  @media(max-width:600px) {
    height: 35vh;
  }
  @media(min-width: 600px){
    margin: auto;
    height: 60vh;
  }
  max-width: 100%;
}

.binary-image {
  height:55vh;
}

.padded {
  @media (max-width: 600px) {
    padding: 10px;
  }
  @media (min-width: 600px){
    padding: 40px;
  }
}

.padding-sm {
  padding: 5x;
}

.padding-bottom {
  padding-bottom: 10px
}
.padding-top {
  padding-top: 10px
}
.overlay {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:10;
}

.darken-overlay {
  @extend .overlay;
  background-color: rgba(0,0,0,.5);
}

.success-overlay {
  @extend .overlay;
  opacity: .7;
}

.response-sticker-container {
  position: fixed;
  margin-top: -25px;
  margin-left:-15px;
  width: 60px;
  height: 60px;
  z-index: 1;
  border-radius: 50px;
}
.sticker {
  width: 100%;
  height:100px;
  color: black;
}

.move-up-and-expand {
  @include transition(all, 1s);
  @include transform(scale(2));
  position: absolute;
  margin-top: -200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 0;
}

.mc_submit_btn {
  width:100%;
}

.hidden-card, .hidden {
  /*@include transform(translate3d(0,-1000, 0));*/
  display: none;
}
.slide-up {
  @include transform(translate3d(0, -200px,0));  
}

.slide-down {
  @include transform(translate3d(0, 1000px,0));  
}

.module-card {
  perspective: 1100px;
  width: 100%;
  height: 100%;
}

.module-container {
  max-width: 850px;
  position: relative;
  width: 100%;
}

.flip-button-container {
  @include transform-style(preserve-3d);
  @include transition(.3s);
  height: 40px; 

  & a {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    letter-spacing: 2px;
    font-size: 20px;

    &.back {
      @include transform(rotateY(180deg));
    }
  }
}

.flipped {
  @include transform(rotateY(180deg));
}


.no-border {
  border: none;
}

.scenario-btn {
  margin: 4px;
  width: 29%;
}

.binary-btn {
  width: 200px;
  
  @media (max-width: 992px) {
    width: 150px;
  }
}

.radio-btn {
  padding: $padding-S;
}

.dotstyle {
  display: inline-block;
}

.dotstyle ul {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  list-style: none;
}

.dotstyle li {
  position: relative;
  display: block;
  float: left;
  margin: 0 5px;
  width: 16px;
  height: 16px;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 10px;
    height: 10px;
    margin: 0 3px;
  }
}

.dotstyle li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: $light-blue-2;
  text-indent: -999em;
  cursor: pointer;
  position: absolute;
}

.dotstyle-scaleup li a {
  -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.dotstyle-scaleup li a:hover,
.dotstyle-scaleup li a:focus {
  opacity: 1;
  background-color: $light-blue-1;
}

.dotstyle-scaleup li.current a {
  background-color: $primary-blue;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.module-navigation-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.add-margin {
  margin-bottom: 20px;
}

.panel > .panel-heading {
  background-color: $white;
}

.item {
  font-size: 23px !important;
}

.navbar {
  background-color: $primary-blue;
}

.middle {
  height: 100%;
  vertical-align: middle;
}
.padding-bottom-lg {
  padding-bottom: $padding-L;
}

.panel {
  background-color: $white;
}

.icon-large {
  font-size: 1.6rem !important;
}

.next-module-btn {
  @include transition(all, 1s);
  letter-spacing: 2px;
  font-size: 30px;
  width: 250px;
  margin-left: 100px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  /*width: 100%;*/
  &:hover {
    background-color: lighten($light-blue-2, 30%);
  }
  @media(min-width: 600px) {
   width: 250px;
  }
  @media(max-width: 600px) {
    width:150px;
  }

}

.image-choice {
  cursor: pointer;
  width: 90%;
  height: 22vh;
  padding: 3px;
}

.correctly-selected {
  border: 4px solid $success;
}

.selected{
  border: 4px solid $primary-blue;
}

.incorrectly-selected {
  border: 4px solid $danger;
}

.greyed-out {
  opacity: .75;
  -webkit-opacity: .75;
  -moz-opacity: .75;
}

.greyed-out:hover {
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
}

html, body {
  height: 100%;
}
