
@import "{wolves:bourbon}/_bourbon";

@import '../_variables'; 

@import '../_mixins';

@import '../_layout';

@import '../_animations';

/* -------------------------------- 

 BODY

-------------------------------- */

*, *::after, *::before {
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

html, body {
  height: 100%;
  overflow: hidden !important;
  font-family: $primary-font !important;
}

.page {
  background: $light-blue !important;
  color: $muted;

  a {
    color: lighten($primary-blue, 30%);
    text-decoration: none;
    
    &:hover {
      text-decoration: none;
    }
  }
}

.page-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo {
  /*position: absolute;*/
  margin-left: 10px;
  margin-top: 25px;
  border-radius: 33px;
  background-color: $white;
  padding: 10px;
  box-shadow: 5px 5px 5px grey;
}

.container {
  padding-bottom: 100px;
}

.inner-container {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

/* -------------------------------- 

 NAVBAR

-------------------------------- */

.navbar {
  background-color: $primary-blue !important;
  height: 60px;
}

.navbar .center {
  overflow: initial !important;
  display: block !important;
  margin: auto !important;
  width: 100%;
}

/* -------------------------------- 

 ANIMATIONS

-------------------------------- */

.expanded {
  @include transition-delay(.3s);
  @include transition(scale, 2s);
  @include transform(scale(1.01)); 
}

.faded {
  @include transition-delay(.3s);
  @include transform(scale(.85));
  @include transition(2s);
  opacity: 0.5;
}

.animate-scale {
  @include animation(scale 1.0s ease-in);
  @include animation-iteration-count(infinite);
  @include animation-direction(alternate-reverse);
} 

.offscreen-right {
  @include transform(translateX(3000px));
  @include transition(2s);
} 

.offscreen-left {
  left: -3000px;
  @include transition(2s);
} 


/* -------------------------------- 

 LOADING

-------------------------------- */

.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

/* -------------------------------- 

 LIBRARY MODIFICATIONS 

-------------------------------- */

.card-footer {
  /*min-height: 80px;*/
}

.navbar::after {
  background-color: inherit !important;
  height: 0px;
}

.card-header::after {
  background-color: inherit !important;
}

.card-footer:before {
  background-color: inherit !important;
}

.toolbar:before {
  background-color: inherit !important;
}

.button {
  line-height: 45px !important;
  height: 40px !important;
  border: 2px solid $white;
}

.card {
  border-radius: 10px;
}


/* -------------------------------- 

 ALIGNMENT

-------------------------------- */


.full-width {
  width: 100%;
}

.right-aligned {
  margin-left: auto;
  margin-right: 20px;
}

.blur {
  -webkit-filter: blur(2px);
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

.noora-button {
  border-radius: 25px;
}
.padding-sm {
  padding: 10px
}

.padding {
  padding: 20px
}

.padding-lg {
  padding: 40px;
}

.padding-bottom {
  padding-bottom: 10px
}

.padding-bottom-lg {
  padding-bottom: $padding-L;
}

.padding-top {
  padding-top: 10px
}

.hidden {
  /*opacity: 0;*/
  display: none;
}

/* -------------------------------- 

 TEXT

-------------------------------- */

.color-green {
  background-color: $green !important;
}

.color-red {
  background-color: $red !important;
}

.color-blue-noora {
  background-color: $primary-blue !important;
}

.small-text {
  font-size: 75%;
}

.large-text {
  font-size: 150%;
}

.bold-text {
  font-weight: $bold-font-weight;
}

.demi-bold-text {
  font-weight: $demi-bold-font-weight;
}

