<template name="Lesson_view_page_footer">

  <div class="toolbar">

    <div class="toolbar-inner row">
      <div class="col-25">
        {{> Button (goHomeButtonArgs homeButton)}}
      </div>

      <div class="col-25">
        {{> Lesson_view_page_footer_progress_bar percent=progressBar.percent}}
      </div>

      <div class="col-25">
        {{> Button (replayButtonArgs replayButton)}}
      </div>

      <div class={{nextButtonWrapperClasses nextButton.animated}}>
        {{> Button (nextButtonArgs nextButton)}}
      </div>
    </div>
  </div>

</template>
