<template name="Lesson_view_page_footer">

  <div class="toolbar">

    <div class="toolbar-inner row">
      <div class="col-20">
        {{#if homeButton.shouldShow}}
          {{> Button (goHomeButtonArgs homeButton)}}
        {{/if}}
      </div>

      <div class="col-50">
        {{#if progressBar.shouldShow}}
          {{> Lesson_view_page_footer_progress_bar percent=progressBar.percent}}
        {{/if}}
      </div>

      <div class="row col-30">
        <div class="col-30">
          {{#if replayButton.shouldShow}}
            {{> Button (replayButtonArgs replayButton)}}
          {{/if}}
        </div>

        <div class="col-70">
          <div class={{nextButtonWrapperClasses nextButton.animated}}>
            {{> Button (nextButtonArgs nextButton)}}
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
