<template name='Lesson_view_page_footer_paginator'>
  <a href="#" class="center"> 
    <div class="dotstyle dotstyle-scaleup"> 
      <ul class="">
        {{#each page in pages}}

          {{#if page.current}} 
            <li class="current" name="{{page.index}}"><a name="{{page.index}}">{{page.index}}</a></li>
          {{else}}
            <li name="{{page.index}}"><a class="module_footer {{colorClass page}}" name="{{i}}">{{page.index}}</a></li>
          {{/if}}

        {{/each}}
      </ul>
    </div>
  </a>
</template>
